
body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; 
  overflow-y: scroll;  
  background-color: #F8F5F0;
}

.section {
  position: relative;
  height: 100vh;
  overflow: visible;
}

.bck{
  position: absolute;
  width: 65%;
  height: 65%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
 
}


.backgroundImg1 {
  top: -2%;
  left: 0;
  background-image: url("../assets/img/1.png");
}

.backgroundImg2 {
  top: -2%;
  right: 0;
  background-image: url("../assets/img/2.png");
}
.backgroundImg3 {
  top: 60%;
  left: 0;
  background-image: url("../assets/img/3.png");
  }
  

.backgroundImg4 {
 top: 65%;
 left: 60%;
  background-image: url("../assets/img/4.png");
}

.fraseInicial{
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style:italic;
    font-size: 50%;
    }
    
.nombreNovios {
    position: relative;
    top: 25%;
    left: 12.5%;
    right:12.5% ;
    background-image: url("../assets/img/rocioyalan.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 75%;
}

.nuestraBoda  {
    position: relative;
    top: -10%;
    width: 100%;
    padding-bottom: 30%;   
    text-align: center;
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style:normal ; 
  }
 
  .nuestraBoda::after {
    content: "";
    position: absolute;
    transform: translateX(-20%);
    left: 50%;
    width: 100%;
    height:100%;
    background-image: url("../assets/img/flechita.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
  }

.section {
  position: relative;
  height: 100vh;
  overflow: visible;
}

.backgroundImg5 {
  top: 50%;
  left: 0%;
  height: 90%;
  width: 90%;
  background-image: url("../assets/img/5.png");
}

.backgroundImg6 {
  top: 80%;
  left: 84%;
  height: 100%;
  width: 100%;
  background-image: url("../assets/img/6.png");
}



  
.fecha{
  position: relative;
  top: 10%;
  width: 100%;
  height: 100%;
  text-align: left;
  left: 17%;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style:normal;
  padding-right: 50%;
}

.dia {
  font-weight: 700;
}

.fecha::after {
  content: "";
  position: absolute;
  top:0%;
  left: 35%;
  width: 10%;
  height:10%;
  background-image: url("../assets/img/calendar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.btnAgendar {
  position: absolute;
  top: 22%;
  left: 10%;
  right: 10%;
  width: auto;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style:normal;
  font-size: 100%;
  color: white;
  background-color: #c59f60;
  border: none;
  border-radius: 15px;;
  cursor: pointer;
  height: 7%;
}

.cuentaregresiva {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
  background-color: red;
}

.fraseCuentaRegresiva {
  position: relative;
  top: -55%;
  width: 100%;
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style:normal;
  font-size: 110%;
  
}



.fraseFinalSegundaPagina{
  position: relative;
  top: -45%;
 width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style:bold;
}

.fraseFinalSegundaPagina p{
    font-weight: 400;
  font-style:normal;
  font-size: 90%;
}

.fraseFinalSegundaPagina::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 25%;
  width: 50%;
  height:50%;
  background-image: url("../assets/img/ceremonia.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}

.btnUbicacion {
  position: relative;
  top: -130%;
  left: 15%;
  right: 15%;
  width: 60%;
  align-items: center;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style:normal;
  font-size: 100%;
  color: white;
  background-color: #c59f60;
  border: none;
  border-radius: 15px;;
  cursor: pointer;
  height: 7%;
}

.btnUbicacion::after {
  content: "";
  position: absolute;
  top: 0%;
  left:105%;
  width: 90%;
  height:90%;
  background-image: url("../assets/img/location.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}