
body, html {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  scroll-behavior: smooth; 
  overflow-y: auto;  
  overflow-x: hidden;
  background-color: #F8F5F0;


}

#divLoginContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divLoginContainer{
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
    background:
    linear-gradient(rgba(252, 252, 252, 0.4), rgba(255, 255, 255, 0.4)), 
     url("../assets/img/1.webp");
     background-size: cover;

}

  h3
 {
    margin: 0 0 5% 0;
    width: 100%;
    font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-size:300%;
  z-index: 10; 
    color: black;
    position:relative;
    text-align: center;
 

}
#loginDiv{
    height:auto;
    width:100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}


#apellido{

    padding: 5%;
    border: 2px solid #ccc;
    border-radius: 20px;
      font-family: "Libre Caslon Text", serif;
  font-style: bold;
  font-weight: 700;
  font-size:300%;
  text-align: center;
  padding: 2%;
  z-index: 10; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% 0 0 0;


}

#btnLogin{
    background-color: #c59f60;
    color: white;
    border: none;
    margin: 5% 0 0 0;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-family: "Libre Caslon Text", serif;
  font-style: normal;
  font-weight: 400;
  font-size:300%;
  text-align: center;
  
  z-index: 10; 
  border-radius: 25px;
  cursor: pointer;
}


